<div id="timer">
  Time Left: <div id="timerText"><%= @timerDuration %></div>s
</div>

<div id="chart">
  <img src="<%= @question.image %>" />
</div>


<%= form_tag nextq_path, :method => :post, :id => "nextqform" do %>
  <% @options.each do |o| %>
    <%=  radio_button_tag 'answer', o[:id], false, :onclick => "this.parentNode.submit();" %>&nbsp;<%= label_tag :answer, o[:value] %>&nbsp;
    <br />
  <% end %>
  <%= submit_tag "Next", :id => 'timerSubmit', :style => "display:none" %>
<% end %>

<!-- Figure out a way to place this js in the application.erb to make code clean-->
<%= javascript_include_tag 'question.js' %>