<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Stickquiz</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" %>
  <%= javascript_include_tag "https://www.google.com/jsapi"%>  
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    google.load('visualization', '1', {packages: ['corechart']});
    function drawVisualization() {
       // Populate the data table.
        var dataTable = google.visualization.arrayToDataTable([
           ['Mon',20,28,38,45],
           ['Tues',31,38,55,66],
           ['Wed',50,55,77,80],
           ['Thurs',77,77,66,50],
           ['Fri',68,66,22,15],
        ], true);
        // Draw the chart.
        var chart = new google.visualization.CandlestickChart(document.getElementById('chart_goes_here'));
        chart.draw(dataTable, {legend:'none', width:600, height:400});
    }
        google.setOnLoadCallback(drawVisualization);
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
